header{
    background-color: white;
    text-align: center;
}

.flex-container{
    justify-content: center;
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 6px;
    flex-wrap: wrap;
    background-color: rgb(237, 237, 237);
    padding: 25px;
}
.flex-item{
    flex-direction: column;
    display: flex;
    padding: 50px;
    align-items: center;
    border: 1px solid rgb(72, 72, 72);
    background-color: rgb(228, 228, 228);
    text-align: center;
}

footer{
    background-color: white;
    text-align: center;
}
