:root {
    --body-bg-color: #121214;
    --text-color: #E1E1E6;
    --title-color: #04D361;
    --form-color: #A8A8A8;
    --bg-button-color: #8257e5;
    --font-familyWS: 'Work Sans', sans-serif;
    --font-familyLS: 'League Spartan', sans-serif;
}

*{
    margin: 0 auto;
    box-sizing: border-box;
}

main {
    background-color: black;
    padding-left: 30px;
}



header{
    margin-bottom: 92px;
    padding-top: 50px;
}

.p1_atualize {
    color: var(--title-color);
    font-family: var(--font-familyWS);
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 9px;
}

.p2_precisaSaber{
    color: var(--text-color);
    font-family: var(--font-familyLS);
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 9px;
}

.p3_noticias{
    color: var(--text-color);
    font-family: var(--font-familyLS);
    font-size: 14px;
    margin-bottom: 50px;
}

.p4_email{
    color: var(--form-color);
    font-family: var(--font-familyLS);
    font-size: 14px;
    margin-bottom: 17px;
}

.input_tEmail{
    color: #6A6A6A;
    font-family: var(--font-familyWS);
    font-size: 12px;
    margin-bottom: 50px;
    width: 750px;
    height: 48px;
    border-left: 5px solid #04D361;
    border-bottom: none;
    border-top: none;
    border-right: none;
    padding-left: 51px;
    display: flex;
}

.image_Submit{
    padding: 24px;
}

.p5_link{
    color: var(--bg-button-color);
    font-family: var(--font-familyLS);
}

.image_Submit {
    background: var(--bg-button-color);
}